build/
build_user/
install/
install_user/
package/
package_user/
host-tools/
*.tar.gz
*.log
validation_out/
compile_commands.json
models/
firmware/
build_native/
install_native/
package_native/
.git_backup_from_tdl_app_sdk_*/
third_party/cv184x/models/
third_party/cv184x/opencv/
configs/model_tool
ALGORITHMS.md
tdl_mmf_vpss_probe_demo.cpp
tdl_yolov5_demo.cpp
tdl_yolov8_demo.cpp
models
firmware
third_party/cv184x/dual_os/